<div class="exercise-badge">
	<span class="pan-to simple-button action-gradient" data-id="name"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>
    <h4>
        <div class="topic-exercise-badge">
            <img class="topic-exercise-image" src="{{icon_url}}" style="display:none;">
        </div>
    </h4>
</div>
